{% liquid
  graphql items = 'item/search'
%}

<!-- list of items -->
<ul>
  {% for item in items.records.results %}
    <li>
      {{ item.id }}
      <form action="">
        <button type="submit">Mark as done</button>
      </form>
    </li>
  {% endfor %}
</ul>

<!-- information shown when the list is empty -->
{% if items.records.total_entries != 0 %}
  <div>There are no items in the list.</div>
{% endif %}