{% liquid
  if context.current_user.id
    redirect_to '/'
  endif
%}

<h1 class="text-2xl">Register</h1>
<div class="p-6 bg-white">
  <form method="post" action="/app/views/pages/user/create">
    <input
      type="hidden"
      name="authenticity_token"
      value="{{ context.authenticity_token }}">
    <fieldset class="pb-6">
      <input
        type="email"
        name="email"
        class="p-2 border border-gray-500"
        placeholder="Email"
        required>
    </fieldset>
    <fieldset class="pb-6">
      <input
        type="password"
        name="password"
        class="p-2 border border-gray-500"
        placeholder="Password"
        required>
    </fieldset>
    <fieldset class="pb-6">
      <input
        type="text"
        name="name"
        class="p-2 border border-gray-500"
        placeholder="Name"
        required>
    </fieldset>
    <fieldset class="pb-6">
      <input
        type="text"
        name="age"
        class="p-2 border border-gray-500"
        placeholder="Age"
        required>
    </fieldset>
    <button type="submit" class="p-2 text-white bg-blue-600">Register</button>
  </form>
</div>