<img
src="{{ item.img }}"
alt="Étel képe"
class="w-full max-w-full mb-4 rounded-lg shadow-lg">
<h1 class="text-3xl font-bold mb-2">{{ item.title}}</h1>
<p class="text-lg text-gray-700">Átlagértékű kaja leírása és információi.</p>
</div>
</div>
</div>